@model BookStore.Models.SpecialTags

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-info">Delete</h1>
<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TagName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TagName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" class="btn btn-danger" value="Delete" />
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </form>
</div>
